.c-form {
  $this: &;
  margin-top: rem(32);
  border: 1px solid $darkGray;
  border-radius: rem(4);
  max-width: 450px;
  display: block;
  padding: rem(16);

  &__title {
    font-size: rem(40);
    border-bottom: 1px solid $darkGray;
  }
  &__description {
    font-size: rem(8);
    color: $lightGray;
    @include small-up {
      font-size: rem(16);
    }
  }

  &.-error {
    border-color: $sub-color;
    #{$this}__title {
      border-color: $sub-color;
    }
  }
}
